.meal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.col{
    display: flex;
    flex-direction: column;
}
.col p{
    margin: 0;
}
.col-second{
    align-items: center;
}
.button{
    padding: 0.3rem 2rem;
    background-color: brown;
    border: 1px solid brown;
}